:root {
  --background-color: #573824;
  --sufarce-color: #F0E8C2;
  --text-color-primary: #291B1A;
  --text-color-secondary: #573A37;
  --text-color-on-bg: #F0E8C2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/imgs/bg-image.png);
  background-size: cover;
  background-color: var(--background-color);
  padding: 0 24px;
  font-family: "Alice", serif;
  line-height: 150%;
}

#page {
  max-width: 800px;
  padding: 24px;
  margin: 48px auto 28px;
  background-color: var(--sufarce-color);
  border-radius: 24px;
}

.main__image {
  border-radius: 16px;
  width: 100%;
}



section+section {
  margin-top: 24px;
}

#about p+p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h1,
h2 {
  line-height: 150%;
  margin-bottom: 4px;
}

ul {
  color: var(--text-color-primary);
  padding-left: 24px;
}

p {
  color: var(--text-color-secondary);
  text-align: justify;
}

footer {
  text-align: center;
  color: var(--text-color-on-bg);
  padding-bottom: 48px;
  font-size: 16px;
}

footer a {
  text-decoration: none;
  color: var(--text-color-on-bg);
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width: 640px) {
  .section__container {
    padding: 24px;
  }

  h1 {
    font-size: 40px;
  }
}